<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" strict="true">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.reflections8.Reflections" level="error"/>
        <Logger name="org.xnio.nio" level="error"/>
        <Logger name="io.shiftleft.console.scripting" level="error"/>

        <Logger name="overflowdb" level="error" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="io.shiftleft.codepropertygraph.cpgloading" level="error" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="io.shiftleft.semanticcpg" level="error" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="io.github.plume.oss" level="info" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
